<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/style.css" rel="stylesheet" />
    <script src="~/js/scripts.js" type="text/javascript"></script>
    <title>@RenderSection("Title", false)</title>
</head>
<body>
    <header class="mainContentHeader font">
        Monster Dictionary

    </header>

    <nav class="navBar font">
        <a asp-action="Index" asp-controller="Home">Home</a>&emsp;
        <a asp-action="Monsters" asp-route-page="1" asp-controller="Home">All Monsters</a>&emsp;
        <a asp-action="RandomMonster" asp-controller="Home">Random Monster</a>&emsp;
        <a asp-action="Favorites" asp-controller="Home">Favorites</a>&emsp;
    </nav>

    @*Login Here*@

    @RenderBody()
</body>
</html>
