<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/style.css" rel="stylesheet" />
    <title>@RenderSection("Title", false)</title>
</head>
<body>
    @*Nav Here*@
    @*Login Here*@

    @RenderBody()
</body>
</html>
