
@section Title
{
    Home Page
}

<div class="homeContainer">
    <br />
    <article class="textContainer">
        Welcome to the Home Page of our Monster Dictionary!<br/>Here you can find a variety of Dungeons & Dragons monsters. You favorite monsters that you like
        or even that you use for your campaign regularly. If you're looking for a monster of a certain habitat like forest or has a name that contains 
        a certain word like steam for a certain campaign, we can help.
        
    </article>
</div>