
@section Title
{
    Home Page
}

<div class="homeContainer">
    <br />
    <article class="textContainer">
        Welcome to the Home Page of our Monster Dictionary! Here you can find a<br />variety of Dungeons & Dragons monsters. You favorite monsters that you like<br />
        or even that you use for your campaign regularly. If you're looking for a monster of<br />a certain habitat like forest or has a name that contains 
        a certain word like<br />steam for a certain campaign, we can help.
        
    </article>
</div>