body {
    background-color: black;
    background-image: url("/Images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

button:focus {
    outline: none;
}

.navBar {
    margin: auto;
    width: 30%;
    padding: 10px;
    text-align: center;
    position: relative;
}

    .navBar a {
        border: 3px ridge white;
        padding: 5px;
        background-color: #6f7a7d;
        color: white;
        position: relative;
    }

.font {
    font-family: Impact;
}

.mainLeftMargin {
    margin-left: 500px;
    color: white;
}

.mainContentHeader {
    color: ghostwhite;
    font-size: 3em;
    margin: auto;
    width: 400px;
}

.monsterButton {
    margin: 10px 0px 0px 10%;
    border: solid 2px #2C2818;
    border-radius: 15px;
    background-color: #3C3C3C;
    width: 80%;
    height: 50px;
    font-size: 20px;
    color: white;
    position: relative;
}

.monsterInfo {
    border: solid 2px #2C2818;
    border-radius: 15px;
    background-color: #3C3C3C;
    margin-left: 10%;
    width: 80%;
    color: white;
}

.monsterImgBox {
    display: inline-block;
    margin: 50px 25px 25px 50px;
}

.monsterImg {
    max-height: 500px;
    max-width: 400px;
}

.monsterText {
    display: inline-block;
    width: 45%;
    margin: 50px 50px 50px 25px;
    vertical-align: top;
}

.monsterLore {
    margin-bottom: 25px;
    background-color: #3C4C4F;
    border: 1px solid #202020;
    color: white;
    padding: 3px;
}

.monsterStats {
}

.homeContainer {
    background-image: url('/images/DnD.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    height: 1000px;
    position: relative;
}

.textContainer {
    margin: 0px 35% 0px 35%;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    padding: 3px;
    position: relative;
}

.statOne {
    color:#ffffff;
}

.statTwo {
    color:#cccccc;
}
